/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1.5rem;font-size:1rem;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}
/*--------------------*/
@media (min-width: 1280px) {
    .width25  {
        width: 25%;
    }
    .main__text {
        font-size: 3.75rem;
    }
    .header__navigation-item {
        font-size: 1rem;
    }
    .header__burger {
        display: none;
    }
    .burger-menu {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .width33 {
        width: 33.333333%;
    }
    .main__text {
        font-size: 3.75rem;
    }
    .header__navigation-item {
        font-size: .875rem;
    }
    .header__burger {
        display: none;
    }
    .burger-menu {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .width50 {
        width: 50%;
    }
    .main__text {
        font-size: 3.75rem;
    }
    .header__navigation-item {
        font-size: .875rem;
    }
    .header__burger {
        display: none;
    }
    .burger-menu {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 970px) {
    .header__navigation-item {
        font-size: .650rem;
    }
    .header__burger {
        display: none;
    }
    .burger-menu {
        display: none;
    }
}

@media (max-width: 767px) {
    .width100 {
        width: 100%;
    }
    .main__text {
        font-size: 1.875rem;
    }
    .header__navigation-item {
        font-size: .875rem;
    }
    .header__navigation {
        display: none;
    }
    .header__burger {
        color: #FFFFFF;
    }
    .header__burger-svg {
        width: 2rem;
        fill: currentColor;
        background-color: #000;
    }
}

.burger-menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 50px;
    background-color: #000;
    z-index: 3;
}
.burger-menu a {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    line-height: 2;
    font-size: .875rem;
    color: #FFFFFF;
}
.burger-menu__content {
    padding-left: 32px;
    padding-right: 32px;
}

body {
    font-family: 'Inter', sans-serif;
}

.wrapper { 
    display: flex;
    flex-direction: column;
}
.header { 
    font-weight: 600;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: black;
}
.header__row { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 32px;
}
.header__row a {
    color: #FFFFFF;
}
.header__adress { 
    font-size: 18px;
    font-weight: bold;
}
.header__adress a {
    letter-spacing: .025em;
}
.header__navigation a {
    letter-spacing: .05em;
    line-height: 1.25rem;
}

.header__navigation ul{ 
    display: flex;
}

.header__navigation ul li {
    padding: 0 16px;
}
.main__section {
    text-align: center;
    position: relative;
    overflow: hidden;
}
.main__image { 
    width: 100%;
    object-fit: cover;
    min-height: 80vh;
    max-height: 100vh;
}
.main__text { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    line-height: 1;
    letter-spacing: .05em;
    text-shadow: 0 0 16px #000;
    color: #FFFFFF;
}
.main__anchor {
    position: absolute;
    padding-bottom: 4rem; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}
.main__graphics {
    width: 2rem;
    height: 2rem;
}

.details { 
    background-color: #f9fafb; 
}
.details__column { 
    max-width: 1024px;
    margin: 0 auto;
    padding: 4rem 2rem;
}
.details__header { 
    margin-bottom: 0.5rem;
}
.heading_text { 
    color: #000;
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-align: center;
}
.details__body { 
    color: #474b4f;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.details__body > p {
    margin-bottom: 1.5rem;
}
.details__svg { 
    padding-left: 1rem;
    padding-right: 1rem;
}
.details__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: #474b4f;
}

.details__list li {
    margin-top: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.details__svg-container {
    width: 250px;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid #000;
    display: flex;
    align-items: center;
}

.details__svg-container span {
    margin: 0 auto;
}

.details__svg-container svg {
    flex-shrink: 0;
    width: 2rem;
    margin-right: 0.5rem;
}

.details__list li:not(:last-child) div {
    fill: currentColor;
}

.gallery {
    background-color: #f9fafb;
}
.gallery__column {
    padding: 4rem 2rem;
}
.gallery__images {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.gallery__image-container {
    padding: 0.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.gallery__image { 
    object-fit: cover;
    width: 100%;
    height: 14rem;
}
.video__column { 
    max-width: 1024px;
    margin: 0 auto;
    padding: 4rem 2rem;
}
.video__header { 
    margin-bottom: 2rem;
}
video {
    display: block;
    height: 100%;
    width: 100%;
}

.plans { 
    background-color: #f9fafb;
}
.plans__column { 
    padding-top: 4rem;
    max-width: 1024px;
    margin: 0 auto;
}
.plans__header {
margin-bottom: 2rem;
}
.plans__column iframe {
    width: 100%;
    height: 850px;
}

.map iframe {
    width: 100%;
    height: 30rem;
}

.contact {
    background-color: #f9fafb;
}
.contact__column { 
    max-width: 640px;
    margin: 0 auto;
    padding: 4rem 2rem;
}
.contact__text { 
    text-align: center;
}
.contact__label_text {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}
.contact__form_wrapper {
    color: #474b4f;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
}
form label {
    display: block;
    margin-top: 1rem;
}
.form_input {
    width: 100%;
    margin-top: 0.25rem;
    border: 1px solid #6b728064;
    border-radius: 0;
    padding: 0.5rem 0.75rem;
}
.submit_button {
    background-color: #000;
    border-radius: 0;
    width: 100%;
    height: 2.5rem;
    margin-top: 1.5rem;
    padding: 0.5rem 1.5rem;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.5;
}

.footer { 
    background-color: #000;
    color: #FFFFFF;
}
.footer__row { 
    max-width: 1024px;
    margin: 0 auto;
    padding: 4rem;
    text-align: center;
}
.footer__text { 
    color: #FFFFFF;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}